.boxes {
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.box {
    background-color: #4d4e50;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.box:hover {
        filter: drop-shadow(0 0 2em #7551e0aa);
  }

  .box.react:hover {
    filter: drop-shadow(0 0 2em #151516aa);
  }

.box h1 {
    color: black;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 3vw;
}

@media screen and (max-width: 600px) {
    .box {
        width: 90%;
        padding-bottom: 90%; /* Ajustar proporção para telas menores */
    }

    .box h1 {
        font-size: 3vw; /* Ajustar font-size para telas menores */
    }
}
