#ranking-list {
    max-height: 300px; /* maximum height of the list */
    overflow-y: auto; /* vertical scrollbar when the content overflows */
    border: 1px solid #ccc; 
    padding-bottom: 100px; 
    min-height: 100vh;
    padding-bottom: 10vh; 
  }
  